hr {
    margin: 0;
}

.rodape {
    background-color: var(--white);
    padding: 1.5em 1.5em;
}

.rodape__titulo {
    font-size: 1rem;
}

.lista__rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        background-color: var(--background-sec-color);
        display: flex;
        justify-content: space-around;
        padding: 3em 1em;
    }

    .lista__rodape {
        display: block;
    }

    .rodape__titulo {
        font-size: 1.5rem;
        margin-bottom: 2em;
    }

    .lista__rodape-titulo {
        font-size: 0.9rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        color: var(--grey);
    }

    .lista__rodape-item {
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .lista__rodape-link {
        font-size: 0.9rem;
        color: var(--grey-text);
        text-decoration: none;
        margin-left: 0.6em;
    }
}

@media screen and (min-width: 1728px) {
    .lista__rodape {
        border-left: 1px solid var(--grey);
        padding-left: 1em;
    }

    .rodape {
        padding: 2em 0;
    }
}